@import "tailwindcss";
.title-gradient {
  @apply bg-gradient-to-t from-[#FB0149] via-[#9C1882] to-[#542AAE] bg-clip-text text-5xl font-extrabold text-transparent;
}   

.paragraph-gradient {
  @apply text-[#542AAE] text-xl font-semibold;
}

.paragraph-banner {
  @apply text-white text-2xl font-medium;
}

h3.title{
  @apply text-xl text-[#542AAE];
}
p.desc{
  @apply text-xl text-[#9C1882] max-w-7xl mx-auto text-justify;
}