@import "tailwindcss";
.title-gradient {
  @apply bg-gradient-to-t from-[#FB0149] via-[#9C1882] to-[#542AAE] bg-clip-text text-5xl font-extrabold text-transparent;
}   

.paragraph-gradient {
  @apply text-[#542AAE] text-xl font-semibold;
}

.paragraph-banner {
  @apply text-white text-2xl font-medium;
}

h3.list{ @apply text-[#542AAE] text-2xl font-semibold; }
p.list{ @apply p-2;}

ul.list{
  @apply list-none list-inside ml-8;
}